<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="view-transition" content="same-origin" />

    <!--TAILWIND CSS-->
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/output.css')}}"
    />
    <!--BONDLY ICON-->
    <link
      rel="shortcut icon"
      href="https://cdn-icons-png.flaticon.com/128/1017/1017466.png"
    />

    <!--Poppins Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!--Title-->
    <title>Bondly - {% block title %} {% endblock title %}</title>
  </head>
  <body>
    <section class="bg-text_light py-20 min-h-screen flex justify-center items-center">
      <div class="container mx-auto max-w-2xl px-4">
        {% block form %} {% endblock form %}
        <div class="text-center mt-6">
          <a href="/{% if request.path == '/signin' %}signup{% else %}signin{% endif %}" class="text-blue-500 hover:text-blue-700">
            {% block linktext %}{% endblock linktext %}
          </a>
        </div>
      </div>
    </section>
    {% block scripts %} {% endblock scripts %}
    <script>
      const msg = document.querySelector(".msg");
      const handleMsg = async () => {
        if (msg) {
          msg.style.display = "block";
          await new Promise((resolve) => setTimeout(resolve, 5000));
          msg.style.display = "none";
        }
      };
      window.onload = handleMsg;
    </script>
  </body>
</html>
