{% extends 'authbase.html' %} {% block title %} Signin {% endblock title %} {%
block form %} {% if msg %}
<h1
  class="bg-red-600 p-3 msg text-white rounded-md font-bold w-full mb-2 shadow-lg"
>
  {{msg}}
</h1>
{% endif %}
<form action="/forgotpassword" method="POST" class="flex flex-col gap-6 w-full">
  <h1 class="font-bold text-3xl text-center text-web_green">Verify Email</h1>
  <div>
    <h1 class="pl-3 text-xl font-semibold">Email</h1>
    <input
      class="w-full p-3 mt-2 rounded-md bg-gray-200 text-black"
      type="email"
      name="email"
      id="email"
      placeholder="Enter email"
    />
  </div>
    <button
      class="bg-blue-500 mt-3 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      type="submit"
    >
      Verify Email
    </button>
  </div>
</form>
{% endblock form %} 