{% extends 'dashbase.html' %}
{% block title %}Order{% endblock title %}

{% block body %} 

<div class="">
    <div class="w-full flex flex-wrap flex-row gap-4 py-10 bg-white">
    <div class="rounded-lg shadow bg-red-400 p-4 w-[355px] h-[200px]"></div>
    <div class="rounded-lg shadow bg-red-400 p-4 w-[355px] h-[200px]"></div>
    <div class="rounded-lg shadow bg-red-400 p-4 w-[355px] h-[200px]"></div>
    <div class="rounded-lg shadow bg-red-400 p-4 w-[355px] h-[200px]"></div>
    <div class="rounded-lg shadow bg-red-400 p-4 w-[355px] h-[200px]"></div>
    <div class="rounded-lg shadow bg-red-400 p-4 w-[355px] h-[200px]"></div>
    <div class="rounded-lg shadow bg-red-400 p-4 w-[355px] h-[200px]"></div>
    <div class="rounded-lg shadow bg-red-400 p-4 w-[355px] h-[200px]"></div>
    <div class="rounded-lg shadow bg-red-400 p-4 w-[355px] h-[200px]"></div>
    <div class="rounded-lg shadow bg-red-400 p-4 w-[355px] h-[200px]"></div>
    <div class="rounded-lg shadow bg-red-400 p-4 w-[355px] h-[200px]"></div>
    <div class="rounded-lg shadow bg-red-400 p-4 w-[355px] h-[200px]"></div>
    <div class="rounded-lg shadow bg-red-400 p-4 w-[355px] h-[200px]"></div>
    <div class="rounded-lg shadow bg-red-400 p-4 w-[355px] h-[200px]"></div>
    <div class="rounded-lg shadow bg-red-400 p-4 w-[355px] h-[200px]"></div>
</div>
</div>
{% endblock body %}