<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/output.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <style>
        @font-face {
            font-family: "calisto";
            src: url(/static/fonts/calisto-mt.ttf);
        }
    </style>
    <title>Success</title>
</head>
<body>
    <section class="overflow-x-clip bg-text_light" >
        <div class="container">
            <div class="w-full h-screen flex justify-center items-center">
                <div class="flex flex-col justify-center gap-10 bg-white rounded-lg p-10 shadow">
                    <h1 class="text-5xl font-calisto text-web_green">Success ✅</h1>
                    <p class="font-poppins opacity-55 text-2xl">{{return_msg}}</p>
                    <a href="{{link}}">
                        <button class="px-4 py-3 rounded-md bg-blue-400 text-white font-calisto">Click to redirect</button>
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>